@model ASP_SPU221_HMW.Models.Generator.CodeGeneratorModel

@{
    ViewData["Title"] = "IocGeneratorView";
}

@if (Model.FormModel != null)
{
    <form method="post" asp-action="IocGeneratorView" enctype="multipart/form-data">
        <i>Код подтверждения (6 символов):</i><br>
        <input type="text" id="generatedCode" name="generatedCode" value="@Model.SomeCode" readonly><br><br>
        <button type="submit" name="generateCodeOnly">Generate Code</button><br><br>

        <input type="text" id="password" name="password" placeholder="Enter the password..." value="@Model.FormModel.Password"><br><br>
        <i>Salt:</i>
        <input type="text" id="saltCode" name="saltCode" value="@Model.FormModel.Salt" readonly><br><br>
        <i>Encrypte:</i>
        <input type="text" id="encCode" name="encCode" value="@Model.FormModel.SomeSaltCode" readonly><br><br>
        <button type="submit" name="generateSalt">Give me SALT!</button>
    </form>
}
else
{
    <p>Form model is null</p>
}
@if (Model != null && !string.IsNullOrEmpty(Model.SomeCode))
{
    <script>
        document.getElementById('generatedCode').value = "@Model.SomeCode";
    </script>
}
