@model ASP_SPU221_HMW.Models.Shop.ShopCategoryPageModel
@using ASP_SPU221_HMW.Data.Entities

@{
    Layout = "_ShopLayout";
    bool isAuthenticated = Context.User.Identity?.IsAuthenticated ?? false;
}

<h1>@Model.Slug</h1>

<div class="row">
    @{
        var Products = ViewData["Products"] as List<Product>;
    }
    @foreach (var product in Products)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="~/img/shop/@product.ImageUrl" class="card-img-top" alt="@product.Name">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text">Price: $@product.Price</p>
                </div>
            </div>
        </div>
    }
</div>
@if (isAuthenticated)
{
    <div class="row justify-content-end">
        <div class="col col-5">
            <h2>Add new product</h2>
            <form id="product-form" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                            <input type="hidden" name="category-id" value="@Model.Category.Id" />
                            <span class="input-group-text" id="product-name"><i class="bi bi-person-fill"></i></span>
                            <input type="text" class="form-control"
                                   placeholder="Name of" name="product-name"
                                   aria-describedby="product-name">
                        </div>
                    </div>
                    <div class="col">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="product-price">
                                <i class="bi bi-tags"></i>
                            </span>
                            <input type="number" class="form-control"
                                   placeholder="Price" name="product-price"
                                   aria-describedby="product-price">
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="input-group">
                            <span class="input-group-text"><i class="bi bi-file-earmark-ppt-fill"></i></span>
                            <textarea class="form-control" name="product-description"
                                      placeholder="Опис"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-8">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="product-image"><i class="bi bi-person-circle"></i></label>
                            <input type="file" class="form-control" name="product-image" id="product-image">
                        </div>
                    </div>
                    <div class="col col-4">
                        <button type="submit" class="btn btn-outline-primary">ADD</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}